{% extends "_base/_page-nav.twig" %}

{% block page_title __('Class Manager: Sign In') %}
{% block page_nav 'Settings/Extensions' %}

{% block page_main %}
    <h1><strong>{{ __('Sign In') }}</strong></h1>
    <h2>{{ class_record.title }} (<em>{{class_record.date_of_class|date("M d, ’y @ g:i a")}}</em>)</h2>
    {% set type_of_training = class_record.related('curriculum') %}
    <p><strong>{{ __('Training') }}</strong>:&nbsp;
        {% for training_type in type_of_training[0].taxonomy.training_types %}
            {{training_type}}
        {% endfor %}
    </p>
    <p><strong>{{ __('Curriculum') }}</strong>:&nbsp;{{ type_of_training[0].title }}</p>
    <p><em>{{ __('Please check your information, and make any corrections.  Then initial in the right hand box.') }}</em></p>
    <table style="width: 100%;" class="dashboardlisting">
        <thead>
            <tr>
                <th data-sort="string" class="sortable sort_on_load">{{ __('Name') }}</th>
                <th data-sort="string" class="sortable">{{ __('Email') }}</th>
                <th>{{ __('Initials') }}</th>
            </tr>
        </thead>
        <tbody>
            {% if students is defined and students is not empty %}

                {% for student in students %}
                    <tr>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td></td>
                    </tr>
                {% endfor %}

            {% else %}

                <tr>
                    <td colspan="4">
                        {{ __('Sorry, no students enrolled currently.') }}
                    </td>
                </tr>

            {% endif %}
        </tbody>
    </table>
{% endblock %}